{% extends "flumen_site/base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-dark border rounded-3 text-center">
    <h1 class="display-4 fw-bold text-info">System Online</h1>
    <p class="lead">Flumen Data Analytics environment is successfully routing.</p>
    <hr class="my-4 border-info">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-secondary text-white">
                <div class="card-body">
                    <h5 class="card-title">Project Status</h5>
                    <p class="card-text">Route: <code>/</code> | Template: <code>flumen_site/index.html</code></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}